In [2]:
import pandas as pd
import math

In [17]:
def gini_ab(samples):
    samples_sum = sum(samples)
    score=0
    probas = []
    for sample in samples:
        proba = sample / samples_sum
        probas.append(proba)
    for proba in probas:
        score += proba * (1 - proba)
    return score

In [18]:
def gini(samples):
    samples_sum = sum(samples)
    score=0
    probas = []
    score = []
    for sample in samples:
        proba = sample / samples_sum
        probas.append(proba)
    for proba in probas:
        score.append( proba * (1 - proba))
    return sum(score)

In [20]:
def entropy(samples):
    samples_sum = sum(samples)
    score=0
    probas = []
    for sample in samples:
        proba = sample / samples_sum
        probas.append(proba)
    for proba in probas:
        if proba > 0:
            score += proba * math.log(proba)
    return (-1 * score)

In [22]:
samples = [100, 75, 125]

In [23]:
gini(samples), entropy(samples)

(0.6527777777777777, 1.0775563270668007)

In [35]:
data = pd.read_csv('titanic.csv')

In [36]:
data.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [37]:
data = data[["Survived", "Pclass", "Sex"]]

In [38]:
df.head()

   Survived  Pclass     Sex
0         0       3    male
1         1       1  female
2         1       3  female
3         1       1  female
4         0       3    male

In [39]:
sex_mapping = {
    "female" : 0,
    "male" : 1
}
data.Sex = data.Sex.map(sex_mapping)

In [40]:
data.head()

   Survived  Pclass  Sex
0         0       3    1
1         1       1    0
2         1       3    0
3         1       1    0
4         0       3    1

#### We are continuing with gini today with this example

In [41]:
data.Pclass.value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [42]:
data.Survived.value_counts()

0    549
1    342
Name: Survived, dtype: int64

### gini for whole survived column is

In [70]:
data.Survived.value_counts()

0    549
1    342
Name: Survived, dtype: int64

### Lets make a function which will give us the the values of class in the form : (not survived, survived) = ( 0, 1 )

This is necessary because value_counts( ) gives the class values in form of ascending order of numbers rather than the class type

In [118]:
def prob_calc(df):
    not_survived = df.Survived.value_counts()[0]
    survived = df.Survived.value_counts()[1]
    passed_list = []
    passed_list.append(not_survived)
    passed_list.append(survived)
    return passed_list

In [119]:
prob_calc (data)

[549, 342]

In [120]:
proba_full_df = prob_calc(data)

In [121]:
gini(proba_full_df)

0.4730129578614427

## First Node

Now lets see for pclass first condition where Pclass <= 1.5

### True Condition

In [115]:
pclass_1_true = data[data.Pclass <= 1.5]

In [156]:
# No of samples
no_pclass_1_true = pclass_1_true.shape[0]
no_pclass_1_true

216

In [160]:
proba_pclass_1_true = prob_calc(pclass_1_true)
proba_pclass_1_true

[80, 136]

In [161]:
gini_pclass_1_true = gini(proba_pclass_1_true)
gini_pclass_1_true

0.4663923182441701

### False Condition

In [122]:
pclass_1_false = data[data.Pclass > 1.5]

In [162]:
# No of samples
no_pclass_1_false = pclass_1_false.shape[0]
no_pclass_1_false

675

In [163]:
prob_pclass_1_false = prob_calc(pclass_1_false)
prob_pclass_1_false

[469, 206]

In [154]:
gini_pclass_1_false = gini(proba_pclass_1_false)
gini_pclass_1_false

0.4240943758573388

#### Weighted Average of Gini for Node 1

In [164]:
((gini_pclass_1_true * no_pclass_1_true) + (gini_pclass_1_false * no_pclass_1_false)) / (no_pclass_1_true + no_pclass_1_false)

0.4343484224965707

## Second Node

### True Condition

In [129]:
pclass_2_true = data[data.Pclass <= 2.5]

In [130]:
prob_calc(pclass_2_true)

[177, 223]

In [132]:
proba_pclass_2_true = prob_calc(pclass_2_true)

In [133]:
gini(proba_pclass_2_true)

0.4933875

### False Condition

In [134]:
pclass_2_false = data[data.Pclass > 2.5]

In [135]:
prob_calc(pclass_2_false)

[372, 119]

In [136]:
proba_pclass_2_false = prob_calc(pclass_2_false)

In [137]:
gini(proba_pclass_2_false)

0.36724586342349663

#### Total Gini for Node 2

In [147]:
(0.4933 + 0.3672 ) /2

0.43025

## Third Node

### True Condition

In [138]:
sex_3_true = data[data.Sex <= 0.5]

In [139]:
prob_calc(sex_3_true)

[81, 233]

In [140]:
proba_sex_3_true = prob_calc(sex_3_true)

In [141]:
gini(proba_sex_3_true)

0.38283500344841576

### False Condition

In [142]:
sex_3_false = data[data.Sex > 0.5]

In [143]:
prob_calc(sex_3_false)

[468, 109]

In [144]:
proba_sex_3_false = prob_calc(sex_3_false)

In [145]:
gini(proba_sex_3_false)

0.3064437162277843

#### Total Gini for Node 3

In [148]:
(0.3828 + 0.306) / 2

0.3444